#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_API_VERSION) }

1 VERSIONINFO
FILEVERSION 1,0,1,0
PRODUCTVERSION 1,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "CelestialRayOne"
      VALUE "FileDescription", "Adds a configurable stat that sets a unit's maximum life to 1."
      VALUE "FileVersion", "1.0.1"
      VALUE "InternalName", "celestialrayone.max-life-one"
      VALUE "OriginalFilename", "d2rl-celestialrayone-max-life-one.dll"
      VALUE "ProductName", "Max Life One"
      VALUE "ProductVersion", "1.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
